.Search_contenedor {
  display: flex;
  align-items: center;
  margin-right: 50px;
}
.Search_contenedor input, .Search_contenedor button{
  margin: 10px;
}

.Search_input {
  height: 40px;
  border-radius: 10px;
}