.Search_contenedor {
  display: flex;
  align-items: center;
  margin-right: 50px;
}
.Search_contenedor input, .Search_contenedor button{
  margin: 10px;
}

.Search_contenedor button{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.745);
  background-color: transparent;
  color: rgba(255, 255, 255, 0.745);
  transition: border 0.3s linear, box-shadow 0.3s linear, color 0.3s linear;

  &:hover{
    border:  2px solid white;
    box-shadow: 0 0 5px 2px rgb(0, 217, 255),
    inset 0 0 5px 2px rgb(0, 217, 255);
    color: rgb(0, 217, 255);
  }
  
}


.Search_input {
  display: flex;
  height: 20px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 0 0 5px 2px rgb(0, 217, 255),
  inset 0 0 5px 2px rgb(0, 217, 255);
  &::placeholder{
    color: rgba(255, 255, 255, 0.596);
  }
}